$primary-color: #FFFFFF;
$secondary-color: #EFEFEF;
$details-color : #E2FF04;
$text-color: #000000;
$text-color-light : #eee; 
$text-link : #333;

// Typography
$font-size-base: 16px;
$font-size-heading: 2rem;
$font-size-subheading: 1.5rem;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

// Borders
$border-radius: 5px;