@import '../global/styled.scss';

.about__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  min-height: 40vh;
}
.about__button{
  padding: 1rem 2rem;
  color: $primary-color;
  background-color: $text-color;
  transition: all 300ms ease-in-out;

  &:hover{
    color: $text-color;
    background-color: $details-color;
  }
}