@import "../global/styled.scss";

.cart__container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 300ms, opacity 300ms ease-in-out;
    transform: translateX(100%);
}

.cart__visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    transform: translateX(0);
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    width: 400px;
    z-index: 999;
    color: $primary-color;
    background-color: $text-color;
}

.cart__button_closed {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    font-size: 2rem;
    transition: all 300ms ease-in-out;

    &:hover {
        color: $details-color;
    }
}
.cart__message{
    font-size: 1.2rem;
    text-align: center;
}
.cart__container_items {
    padding: 5rem 1rem 2rem 1rem;
}
.container__total{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
}   
.total__subtitle{
    font-size: 1.4rem;
    font-weight: 600;
}
.total__price{
    font-size: 1.4rem;
}
.container__button{
    display: flex;
    margin: 3rem 0;
    place-content: center;
    width: 100%;
}
.button__buy{
    cursor: pointer;
    width: 80%;
    padding: 0.7rem 0;
    border-radius: 0.4rem;
    color: $text-color;
    background: $primary-color;
    transition: all 300ms ease-in-out;

    &:hover{
        background-color: $details-color;
    }
}