@import '../global/styled';

.container__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 4rem;
    width: 100%;
}

.item__title {
    font-size: 2.8rem;
    font-weight: bold;
    @media (max-width: 986px) {
        font-size: 2rem;
    }
}

.item__price {
    font-size: 3.2rem;
    font-weight: lighter;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $text-color;
    @media (max-width: 986px) {
        font-size: 2.3rem;
    }
}
.container__talles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem 0;
    gap: 1rem;
    @media (max-width: 986px) {
        margin: 1rem 0;
    }
}
.container__ItemCount{
    margin-top: 2rem;
}
.span__talle{
    display: flex;
    width: 100%;
}