@import '../global/styled.scss';

.header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 0;
  width: 100%;
}

.header__title {
  font-family: 'Poppins';
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.span__error {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
}


.container__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); // Adaptable en pantallas grandes
  gap: 24px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 768px) {
    grid-template-columns: 1fr; // Cambiamos a una columna en pantallas medianas y móviles
    gap: 16px; // Espacio ajustado entre las tarjetas
    padding: 15px;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr; // Una sola columna para móviles pequeños
    gap: 12px; // Reducimos el espacio para mayor comodidad
    padding: 10px; // Menor padding en dispositivos pequeños
  }
}